[Tt]humbs.db
*.DS_Store

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/private/private.properties

.project

*.class


*.jar
!sqlite-jdbc-3.7.15-M1.jar
*.war
*.ear
